@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-base-50: oklch(10.857% 0.023 264.149);
    --color-primary-muted: oklch(0.561 0.129 307.226);
}


/*noinspection CssInvalidPropertyValue*/
@plugin "daisyui/theme" {
    name: "default-dark";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-50: oklch(8.857% 0.023 264.149);
    --color-base-100: oklch(12.857% 0.023 264.149);
    --color-base-200: oklch(16.036% 0.019 264.182);
    --color-base-300: oklch(0.245 0.01 248.22);
    --color-base-content: oklch(0.921 0.007 219.564);
    --color-primary: oklch(70.88% 0.2655 299.06);
    --color-primary-muted: oklch(0.568 0.096 307.29);
    --color-primary-content: oklch(0.148 0.029 314.186);
    --color-secondary: oklch(74% 0.238 322.16);
    --color-secondary-content: oklch(14.675% 0.033 35.353);
    --color-accent: oklch(0.596 0.216 283.704);
    --color-accent-content: oklch(0.195 0.047 284.909);
    --color-neutral: oklch(24.731% 0.02 264.094);
    --color-neutral-content: oklch(0.951 0.007 208.783);
    --color-info: oklch(86.078% 0.142 206.182);
    --color-info-content: oklch(17.215% 0.028 206.182);
    --color-success: oklch(86.171% 0.142 166.534);
    --color-success-content: oklch(17.234% 0.028 166.534);
    --color-warning: oklch(86.163% 0.142 94.818);
    --color-warning-content: oklch(17.232% 0.028 94.818);
    --color-error: oklch(0.792 0.12 20.093);
    --color-error-content: oklch(0.16 0.023 19.971);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@font-face {
    font-family: Sairia Stencil One;
    src: url(../assets/fonts/SairaStencilOne-Regular.ttf);
}

@font-face {
    font-family: Rubik;
    src: url(../assets/fonts/Rubik-VariableFont_wght.ttf);
}

*::selection {
    background: var(--color-base-300);
}